{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>상세 페이지</title>
</head>
<body>
    <div>상세 페이지</div>
    {{ feeds.title }}
    {{ feeds.content }}
    <img class="feed2_img" style="border-radius: 50px; width: 40px; height: 40px;" src="{% get_media_prefix %}{{ feeds.image }}">
    {% if feeds.tags %}
    {% for tag in feeds.tags.all %}
    {% comment %} href="{% url 'tagged_object_list' tag.name %}"> {% endcomment %}
    <span class="badge rounded-pill bg-success">
        {{ tag.name }}
    </span>
    </a>
    {% endfor %}
    {% comment %} href="{% url 'tag_cloud' %}">TagCloud</a> {% endcomment %}
    {% endif %}<br>

    {% for comment in comments %}
    {{ comment.user.nickname }}
    {{ comment.comment }}<br>
    {% endfor %}

    
    <form  action="comment/{{ feeds.id }}" method="POST">
        {% csrf_token %}
        <div>
            <div>
                <label for="comment">댓글</label>
                <input id="comment" type="text" name="comment" > 
            </div>            
            <input type="submit">                                    
        </div>
    </form>
    {% if feeds.user == request.user %}
    <button><a href="{% url 'contents:post_delete' feeds.id %}">delete</a></button>
    <button><a href="{% url 'contents:post_update' feeds.id %}">Edit</a></button>
    {% endif %}
</body>

</html>
{% endblock %}

