{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>홈화면</title>
</head>
<body>
    <div style="display: flex; flex-direction: row; width: 60vw; height: 50px; margin: 20px auto 0 30vw; text-align: center;">
    {% for feed in feeds %}
    <div style="width: 18vw; height: 30vh; margin: 10px 10px 10px 10px; border: solid 1px black;">
        <div>프로필 정보</div>
        <div style="width: 18vw; height: 20vh; background-color: black;"><img style="width: 18vw; height: 20vh; background-size: cover;" src="{{feed.image }}" alt=""/></div>
        <div>제목 : {{ feed.title }}</div>
        <div>카테고리 : {{ feed.category }}</div>
        <button onclick="location.href='/contents/detail/{{ feed.id }}'">상세 보기</button>
    </div>
    {% endfor %}
    </div>

</body>
</html>
{% endblock %}