{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    {% comment %} <meta charset="UTF-8"> # 폰트 변경 {% endcomment %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>홈화면</title>


    <style>
        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic Coding', monospace;
        }
    </style>
</head>
<body>
    <div style="display: flex; flex-direction: row; width: 60vw; height: 50px; margin: 20px auto 0 auto; text-align: center;">
    {% for feed in feeds %}
    <div style="width: 300px; min-width: 300px; height: 500px; min-height: 400px; margin: 12px 10px 10px 15px; border: solid 1px black;">
        <div>게시글 정보</div><br>
        <div style="width: 18vw; height: 19vh; background-color: ;">
            <img   class="feed_img" style="border-radius: 0px; width: 290px; height: 155px; margin-top: 3px;" src="{% get_media_prefix %}{{ feed.image }}"></div>

        <div><h1>제목 : {{ feed.title }}</h1> </div>
        <br>
        <div>카테고리 : {{ feed.category }}</div>
        <br>
        <button onclick="location.href='/contents/detail/{{ feed.id }}'">상세 보기</button>
    </div>
    {% endfor %}
    </div>

    <!-- <div style="display: flex; flex-direction: column; width: 60vw; max-width: 1500px; height: 1000px; background-color: antiquewhite; margin: 30px 0 0 30px;">
        <div style="width: 60vw; max-width: 1500px; height: 50px; background-color: rgb(10, 10, 9);"></div>
        <div style="width: 60vw; max-width: 1500px; height: 1000px; background-color: black; margin-top: 30px;"></div>
    </div> -->



</body>
</html>
{% endblock %}